@import 'https://fonts.googleapis.com/css?family=Bungee+Hairline|Cutive+Mono';
@import "Helpers/variables.scss";

body {
  background-image: url('images/radio.jpg');
  background-size: 1800px auto;
  font-family: $monospace;
  color: $purple;
}

li {
  display: inline;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

a, a:hover, a:visited {
  color: $purple;
  text-decoration: underline;
}

.white-box {
  background-color: white;
  padding: 10px;
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.title {
  font-family: $title;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.lines {
  font-size: 24px;
  line-height: 24px;
}

.nav {
  background-color: white;
  margin-bottom: 75px;
  border-top: $purple-border;
  border-bottom: $purple-border;
  ul {
    float: right;
    text-align: right;
    margin-top: 25px;
  }
}

#mode {
  display: table-cell;
}

#options {
  li {
    margin-right: 20px;
  }
}

.button {
  background-color: $purple;
  color: white;
  border: none;
  text-align: center;
  font-size: 14px;
  padding: 2px 6px 3px 6px;
  &:focus {
    background-color: $purple;
  }
}

.circleButton {
  text-align: center;
  border-radius: 100%;
  border: solid 1px $purple;
  background-color: white;
  font-size: 12px;
  padding: 3px;
  width: 23px;
  height: 23px;
  &:hover {
    text-decoration: underline;
  }
}

.tab {
  margin-bottom: 0;
  button {
    width: 100px;
  }
}

.content-area {
  background-color: white;
  height: 300px;
  padding: 10px;
  overflow: auto;
  &:focus {
    outline: none;
  }
  p {
    margin-top: 0;
  }
}

#timer {
  background-color: $purple;
  color: white;
  text-align: center;
  padding: 2px 6px 3px 6px;
  height: 21px;
  width: 26px;
  display: inline-block;
  box-sizing: content-box;
}

.citations {
  background: white;
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  margin: 2px 0;
}

.citations-list {
  min-height: 90px;
}
